<!DOCTYPE html>
<html>
  <head>
    <title>Acceso no permitido</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>El acceso a esta página no está permitido</p>
  </form>

  </body>
</html>